.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  height: auto;
}
li {
  list-style: none;
}

.card-top {
  width: 60px;
  margin: -10px;
  display: inline;
  position: relative;
}
.card-bottom {
  width: 100px;
  margin: 0;
  display: inline;
}
body {
  background-color: black;
}
.login-screen {
  background-image: url(../public/images/menu_background.jpg);
  height: 720px;
  width: 1250px;
  margin: 0 auto;
  margin-top: 69px;
  border-radius: 5px;
}
form {
  display: flex;
  align-items: center;
  margin: 400px;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  width: 600px;
  font-size: 2rem;
  height: 450px;
  color: black;
}
input[type='text'],
input[type='password'] {
  margin: 10px;
  border-radius: 5px;
  font-size: 2rem;
  zoom: 1;
  /* filter: alpha(opacity=50); */
  background-color: rgba(25, 149, 21, 0.5);
  opacity: 0.5;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: none !important;
  border: 1px solid rgb(25, 149, 21);
}
.login-button {
  color: black;
  width: 120px;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
.loogin-button:active {
  border: solid 2px rgba(25, 149, 21, 0.5);
}
